body,
html {
  font-family: 'Averia Serif Libre', serif;
  height: 100%;
  overflow: hidden;
}

* {
  margin: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  align-items: center;
  padding: 10px;
  padding-left: 7vw;
  padding-right: 8vw;
  height: 10vh;
  justify-content: space-between;
}

header > p {
  font-family: 'Averia Serif Libre', serif;
}

.main-logo > img {
  height: 60px;
  width: 60px;
  display: flex;
  align-content: flex-start;
 }

 h1 {
  font-size: 2.7em;
  margin-left: .5vw;
}

.header-left-side {
  display: flex;
  align-items: center;
}

.header-right-side {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-family: 'Averia Serif Libre', serif;
}

.user-profile > img {
  height: 60px;
  width: 60px;
 }

 .trips > img {
  height: 50px;
  width: 175px;
 }

 button.user-profile
 {
  height: 35px;
  width: 35px;
  display: flex;
  align-items: center;
  background-color: white;
  border: none;
 }

button.trips
  {
  height: 35px;
  width: 1px;
  display: flex;
  align-items: center;
  background-color: white;
  border: none;
 }

 #users {
  height: 85px;
  width: 85px;
  margin-right: 10px;
 }

 .trips {
  margin-left: 60px;
  margin-right: 175px;
  height: 35px;
  width: 35px;
 }

.bottom-page-1 {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  font-family: 'Averia Serif Libre', serif;
}

.login-box {
  height: 100%;
  width: 300px;
}

.login-box > p {
  color: black;
  font-family: 'Averia Serif Libre', serif;
  font-weight: 300;
  margin-bottom: 2vh; 
  display: flex;
  justify-content: space-around
}

.bottom-page-1 > main {
  background-color: #008ab9;
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

form > button {
  font-family: 'Averia Serif Libre', serif;
}

.login-box {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-evenly;
  height: 50vh;
  width: 35vw;
}

.login-email {
  display: flex;
  flex-direction: column;
}

.login-password {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 20vh;
  margin-top: 2vh;
}

 button {
  width: 50%;
  height: 5vh;
 }

 .create-acct {
  color: #008AB9;
  cursor: pointer;
 }

 input {
  height: 5vh;
 }

 #toggle-password {
  margin-left: 17vw;
  font-family: 'Averia Serif Libre', serif;
  background-color: transparent;
  border: none;
  cursor: pointer;
 }

#signin {
  background-color: #548392;
  cursor: pointer;
  border-radius: 10px;
  margin-bottom: 2vh;
  width: 10vw;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  cursor: pointer;
}

.login-box {
  padding: 20px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1); 
  margin: 100px auto;
}

.sign-in {
  font-size: 24px;
  text-align: center;
}

button > p {
  font-family: 'Averia Serif Libre', serif;
}

h1,
.location {
  font-family: 'Averia Serif Libre', serif;
}
.login-box {
  padding: 20px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1); 
  margin: 100px auto;
}

.sign-in {
  margin-bottom: 10px;
  font-size: 24px;
  text-align: center;
}

button > p {
  font-family: 'Averia Serif Libre', serif;
}
.bottom-page-2 {
  padding: 20px;
  background-color: #008ab9;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: 'Averia Serif Libre', serif;
}
.bottom-page-2 > h1 {
  margin-bottom: 20px;
}
.trip-card {
  height: 30vh;
  width: 30vw;
  border-radius: 30px;
  margin-top: 20px;
  font-size: 200;
  position: relative;
}

.trip-card img {
  max-width: 100%;
  height: auto;
  display: block;
}

.location {
  font-weight: bold;
  font-size: 30px;
}
.location-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  background-color: white;
  padding: 10px;
  width: auto;
  border-radius: 15px;
}
.trip-info-container {
  background-color:#548392;
   padding: 10px; 
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
}
.trips-header {
  margin-top: 10px;
  margin-bottom: 10px;
}
.type-of-trip {
  margin-bottom: 3vh;
  margin-top: 5vh;
}

.hidden {
  display: none;
}





